<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
        <title>{% block title %}{% endblock %}</title>
    



        {# Cargamos la librería #}
    {% load bootstrap4 %}
    
    {# CSS Bootstrap #}
    {% bootstrap_css %}
    
    
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Libreta de Contactos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item {% block clase %}{% endblock %}">
              <a class="nav-link" href="../contactos/">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}   {% endblock %}
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}     
</body>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
    </script>
     <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Contacto ?");
        if (x)
          return true;
        else
          return false;
      }
    </script>
    <script type="text/javascript">
      function abrir_editar(url) {
        $('#edicion').load(url, function(){
          $(this).modal('show');
        });
      }
    </script>
</html>